.reify-choice
{
	cursor: pointer;
}
.reify-draggable
{
	display: inline-block;
	cursor: grab;
}
.reify-draggable-dragging
{
	cursor: grabbing;
}

.reify-draggable-accepted
{
	
	cursor: grab;
	transition-property:hidden;
	transition-timing-function:ease-in;
	transition-duration: 2s;
}
.reify-draggable-hover
{
	color: orangered

}
.reify-draggable-rejected
{
	--transitions:2;
	cursor: none;
	transition-property:left,top;
	transition-timing-function:ease-out;
	transition-duration: .5s;
}
.reify-disappear
{
	visibility:hidden;
}
.reify-dropbox
{
	border-style: hidden;
}
.reify-dropbox-hover
{
	border-style: dotted;
}
.reify-dropbox-accepted
{
	color:purple;
	transition-property:color;
	transition-duration: .5s;
}
.reify-dropbox-rejected
{
	color:darkred;
	transition-property:color;
	transition-duration: .5s;
}

.reify-comma-list, .reify-comma-list li 
{ 
    display: inline; 
	list-style: none; 
	padding-left: 0;
}
.reify-comma-list li:after 
{ 
    content: ", "; 
}
.reify-comma-list li:last-child:after 
{ 
    content: ""; 
}
.reify-comma-list li:nth-last-child(3) + li:after 
{ 
    content: ", and ";
}
.reify-comma-list li:nth-last-child(2):first-child:after 
{ 
    content: " and ";
}





